/* (320x480) iPhone (Original, 3G, 3GS) */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
	html {
		background: url("/images/background-320-480.webp") no-repeat center fixed;
		background-size: cover;
	}
}

/* (320x480) Smartphone, Portrait */
@media only screen and (device-width: 320px) and (orientation: portrait) {
	html {
		background: url("/images/background-320-480.webp") no-repeat center fixed;
		background-size: cover;
	}
}

/* (320x480) Smartphone, Landscape */
@media only screen and (device-width: 480px) and (orientation: landscape) {
	html {
		background: url("/images/background-480-320.webp") no-repeat center fixed;
		background-size: cover;
	}
}

/* (480x800) Android */
@media only screen and (min-device-width: 480px) and (max-device-width: 800px) {
	html {
		background: url("/images/background-480-800.webp") no-repeat center fixed;
		background-size: cover;
	}
}

/* (640x960) iPhone 4 & 4S */
@media only screen and (min-device-width: 640px) and (max-device-width: 960px) {
	html {
		background: url("/images/background-640-960.webp") no-repeat center fixed;
		background-size: cover;
	}
}

/* (720x1280) Galaxy Nexus, WXGA */
@media only screen and (min-device-width: 720px) and (max-device-width: 1280px) {
	html {
		background: url("/images/background-720-1280.webp") no-repeat center fixed;
		background-size: cover;
	}
}

/* (720x1280) Galaxy Nexus, Landscape */
@media only screen and (min-device-width: 720px) and (max-device-width: 1280px) and (orientation: landscape) {
	html {
		background: url("/images/background-720-1280.webp") no-repeat center fixed;
		background-size: cover;
	}
}

/* (1024x768) iPad 1 & 2, XGA */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
	html {
		background: url("/images/background-1024-768.webp") no-repeat center fixed;
		background-size: cover;
	}
}

/* (768x1024) iPad 1 & 2, Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
	html {
		background: url("/images/background-768-1024.webp") no-repeat center fixed;
		background-size: cover;
	}
}

/* (1024x768) iPad 1 & 2, Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
	html {
		background: url("/images/background-1024-768.webp") no-repeat center fixed;
		background-size: cover;
	}
}

/* (2048x1536) iPad 3 */
@media only screen and (min-device-width: 1536px) and (max-device-width: 2048px) {
	html {
		background: url("/images/background-2048-1536.webp") no-repeat center fixed;
		background-size: cover;
	}
}

/* (1280x720) Galaxy Note 2, WXGA */
@media only screen and (min-device-width: 720px) and (max-device-width: 1280px) {
	html {
		background: url("/images/background-1280-720.webp") no-repeat center fixed;
		background-size: cover;
	}
}

/* (1366x768) WXGA Display */
@media screen and (max-width: 1366px) {
	html {
		background: url("/images/background-1366-768.webp") no-repeat center fixed;
		background-size: cover;
	}
}

/* (1280x1024) SXGA Display */
@media screen and (max-width: 1280px) {
	html {
		background: url("/images/background-1280-1024.webp") no-repeat center fixed;
		background-size: cover;
	}
}

/* (1440x900) WXGA+ Display */
@media screen and (max-width: 1440px) {
	html {
		background: url("/images/background-1440-900.webp") no-repeat center fixed;
		background-size: cover;
	}
}

/* (1680x1050) WSXGA+ Display */
@media screen and (max-width: 1680px) {
	html {
		background: url("/images/background-1680-1050.webp") no-repeat center fixed;
		background-size: cover;
	}
}

/* (1920x1080) Full HD Display */
@media screen and (max-width: 1920px) {
	html {
		background: url("/images/background-1920-1080.webp") no-repeat center fixed;
		background-size: cover;
	}
}

/* (1600x900) HD+ Display */
@media screen and (max-width: 1600px) {
	html {
		background: url("/images/background-1600-900.webp") no-repeat center fixed;
		background-size: cover;
	}
}

h1 span {
	position: absolute;
	top: 0;
	right: 0;
	background-color: rgba(227, 152, 90, 0.8);
}
h2 span {
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: rgba(227, 152, 98, 0.6);
}
